workflows/all-workflows.json
[{"updatedAt":"2026-01-20T04:48:25.023Z","createdAt":"2026-01-18T18:33:57.594Z","id":"MXpghBtdbtpjSuerQbthE","name":"Error Handler AxiaMasi","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"0e39a233-d7fd-4b1a-92e7-c407dad9d70f","name":"Error Trigger"},{"parameters":{"chatId":"8179761260","text":"=⚠️ *AXIAMASI SYSTEM ERROR* ⚠️\n\n*Workflow:* {{ $json.workflow.name }}\n*Execution ID:* {{ $json.execution.id }}\n*Error Node:* {{ $json.execution.lastNodeExecuted }}\n*Error Message:* {{ $json.execution.error.message }}\n\n*Potensial Penyebab:*\n1. Rate Limit OpenRouter (Gemini Free).\n2. RAM t3.micro Penuh (>957MB).\n\n*Link Debug:*\nhttps://n8nprod.axiamasi.com/workflow/{{ $json.workflow.id }}/executions/{{ $json.execution.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,0],"id":"29229eac-c0f7-45db-ba40-e00946c56cdf","name":"Send a text message","webhookId":"4635fb76-5a95-4a40-950b-eff773aacbb9","credentials":{"telegramApi":{"id":"8vl6cLDjqmg0d4O9","name":"AXIAMASI"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"MXpghBtdbtpjSuerQbthE"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fb042954-0200-4cc9-be31-88ea8dd4f042","activeVersionId":"fb042954-0200-4cc9-be31-88ea8dd4f042","versionCounter":12,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-18T18:33:57.594Z","createdAt":"2026-01-18T18:33:57.594Z","role":"workflow:owner","workflowId":"MXpghBtdbtpjSuerQbthE","projectId":"PA67tl7sPKfjgB7Y","project":{"updatedAt":"2026-01-18T16:04:41.504Z","createdAt":"2026-01-18T16:00:34.249Z","id":"PA67tl7sPKfjgB7Y","name":"Agus Sobir <agusahmad1997@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"88db6ee3-a0b8-48d8-81d8-841f4853a8dc"}}]},{"updatedAt":"2026-01-20T04:49:01.362Z","createdAt":"2026-01-20T04:49:01.362Z","id":"aMlYH7prHDq5zC9H3BnSX","name":"Lead Nurturing","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) {\n  const webhookBody = item.json.body; // Ambil bagian 'body' dari webhookData\n\n  // Ekstraksi data berdasarkan format webhook baru\n  let phoneNumber = webhookBody.from;\n  if (phoneNumber && phoneNumber.endsWith('@s.whatsapp.net')) {\n    phoneNumber = phoneNumber.replace('@s.whatsapp.net', '');\n  }\n  const messageContent = webhookBody.message.text;\n  const senderName = webhookBody.pushname; // Mengambil nama pengirim\n\n  const leadId = `LEAD-${Date.now()}-${Math.floor(Math.random() * 1000)}`; // ID unik\n  const entryDate = webhookBody.timestamp || new Date().toISOString(); // Gunakan timestamp dari webhook jika ada\n  const lastInteraction = entryDate;\n\n  items.push({\n    json: {\n      leadId: leadId,\n      phoneNumber: phoneNumber,\n      senderName: senderName, // Menambahkan senderName\n      initialMessage: messageContent,\n      entryDate: entryDate,\n      lastInteraction: lastInteraction,\n      status: \"New Lead\", // Status awal\n      nurtureStage: 0, // Tahap nurturing awal (0 berarti belum mulai follow-up terjadwal)\n      nextFollowUpDate: null // Akan diisi oleh Workflow B\n    }\n  });\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,112],"id":"f5f539ec-fe0f-497d-acc1-0e188b5dd2ce","name":"[CODE] Parse Data WhatsApp Lead"},{"parameters":{"httpMethod":"POST","path":"dev","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,112],"id":"66da0cf5-8599-40e5-a895-25b31ba1e844","name":"[TRIG] Webhook WhatsApp Masuk","webhookId":"53c282a8-69ee-4c34-a2d8-923aa0401ce8"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CRM Leads Nurturing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"leadId":"={{ $json.leadId }}","phoneNumber":"={{ $json.phoneNumber }}","initialMessage":"={{ $json.initialMessage }}","senderName":"={{ $json.senderName }}","entryDate":"={{ $json.entryDate }}","lastInteraction":"={{ $json.lastInteraction }}","status":"={{ $json.status }}","nurtureStage":"={{ $json.nurtureStage }}","nextFollowUpDate":"={{ $json.nextFollowUpDate }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"leadId","displayName":"leadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"senderName","displayName":"senderName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"initialMessage","displayName":"initialMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entryDate","displayName":"entryDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastInteraction","displayName":"lastInteraction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nurtureStage","displayName":"nurtureStage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nextFollowUpDate","displayName":"nextFollowUpDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[528,112],"id":"0097e18c-8012-41fb-a8b9-9dd0baf96c4f","name":"[DATA] Simpan/Update Lead ke Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"AJvOF7ZeXrLUoPVM","name":"agusahmad1112"}}},{"parameters":{"phoneNumber":"={{ $json.phoneNumber }}","message":"=Halo {{ $json.senderName || $json.phoneNumber }}, terima kasih sudah menghubungi kami. Ada yang bisa kami bantu?"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[752,112],"id":"3bece856-8e80-4b3e-abc8-14db0cdede9c","name":"[OUT] Kirim Pesan Selamat Datang (Gowa)","credentials":{"goWhatsappApi":{"id":"JwAsiI6fm3kFaESR","name":"GOWA DEV"}}},{"parameters":{"content":"## WhatsApp Lead Ingestion & Initial Contact","height":320,"width":992},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"244ec2c8-199f-4d3e-90ab-e84140818c8f","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-528,624],"id":"9c58d634-7023-49be-b909-3f0584064730","name":"[TRIG] Jadwal Follow-up Harian"},{"parameters":{"documentId":{"__rl":true,"value":"1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g","mode":"list","cachedResultName":"WhatsApp Lead Ingestion & Initial Contact","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CRM Leads Nurturing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-304,624],"id":"c104d073-ee34-4924-80ed-ac321fb8bc51","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"AJvOF7ZeXrLUoPVM","name":"agusahmad1112"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,624],"id":"e5ff5ab8-bdf0-4b79-89ea-3471442ba31f","name":"[LOOP] Pisahkan Lead"},{"parameters":{"jsCode":"const item = $input.item;\nconst lead = item.json;\n\n// 1. Ambil data dengan nilai default yang aman\nconst status = lead.status || \"\";\nconst currentNurtureStage = parseInt(lead.nurtureStage || 0); // Pastikan angka, default 0\nconst nextFollowUpDateStr = lead.nextFollowUpDate; // Bisa null atau string\n\nlet shouldFollowUp = false;\n\n// Kondisi 1: Status BUKAN \"Deal\", \"Inactive\", atau \"Nurturing Complete\"\nconst isStatusEligible = status !== \"Deal\" && status !== \"Inactive\" && status !== \"Nurturing Complete\";\n\n// Kondisi 2: Nurture Stage belum mencapai batas maksimal (misal, 4 tahap: 0, 1, 2, 3)\nconst isStageEligible = currentNurtureStage < 4;\n\n// Kondisi 3: nextFollowUpDate sudah tiba ATAU belum diset (null/empty)\nlet isDateEligible = false;\nif (!nextFollowUpDateStr) {\n  // Jika nextFollowUpDate null atau kosong, berarti ini lead baru atau belum dijadwalkan follow-up\n  // atau sudah lewat dan belum di-update. Anggap eligible untuk follow-up.\n  isDateEligible = true;\n} else {\n  // Jika nextFollowUpDate ada, cek apakah sudah melewati atau sama dengan hari ini\n  const nextFollowUpDate = new Date(nextFollowUpDateStr);\n  const now = new Date();\n\n  // Reset jam/menit/detik untuk perbandingan HANYA tanggal (jika ingin per hari)\n  // Atau biarkan full timestamp jika ingin akurat per jam/menit\n  nextFollowUpDate.setHours(0, 0, 0, 0); // Hapus waktu agar hanya bandingkan tanggal\n  now.setHours(0, 0, 0, 0);\n\n  isDateEligible = nextFollowUpDate.getTime() <= now.getTime();\n}\n\n// Gabungkan semua kondisi dengan AND\nshouldFollowUp = isStatusEligible && isStageEligible && isDateEligible;\n\n// Tambahkan flag shouldFollowUp ke output\nreturn {\n  json: {\n    ...lead, // Salin semua data lead yang sudah ada\n    shouldFollowUp: shouldFollowUp\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,544],"id":"0ec314ee-0ec0-42fb-9163-b199b8f7c007","name":"[CODE] Siapkan Logika Follow-up"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5e7576d8-9aa9-417d-8a2c-4fddec927a76","leftValue":"={{ $json.shouldFollowUp }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[368,544],"id":"af8165ad-6938-41be-830c-5337300cf183","name":"[LOGIC] Lead Perlu Follow-up"},{"parameters":{"jsCode":"const item = $input.item;\nconst lead = item.json;\n\n// Pastikan nurtureStage adalah angka\nconst currentNurtureStage = parseInt(lead.nurtureStage || 0);\n\nlet messageText = \"\";\nlet newNurtureStage = currentNurtureStage + 1; // Tahap nurturing selanjutnya\nlet delayDays = 0; // Default delay untuk follow-up berikutnya (dalam hari)\n\n// Gunakan nama jika ada, kalau tidak pakai nomor telepon\nconst personName = lead.senderName || lead.phoneNumber;\n\nswitch (currentNurtureStage) {\n  case 0: // Tahap awal setelah welcome message\n    messageText = `Halo ${personName}, ini saya dari Axiamasi. Semoga sehat selalu ya. Mau tanya, apakah ada pertanyaan lebih lanjut tentang produk/layanan kami setelah pesan kemarin?`;\n    delayDays = 2; // Follow-up 2 hari lagi\n    break;\n  case 1:\n    messageText = `Hai lagi ${personName}! Jangan lewatkan penawaran spesial kami bulan ini untuk produk A. Cek detailnya di sini: https://linkproduk.com. Promo terbatas lho!`;\n    delayDays = 3; // Follow-up 3 hari lagi\n    break;\n  case 2:\n    messageText = `Halo ${personName}, banyak customer kami sudah merasakan manfaat produk A. Ini ada beberapa testimoni yang bisa Anda lihat: https://linktestimoni.com. Jika ada pertanyaan atau butuh demo, jangan ragu chat saya ya!`;\n    delayDays = 5; // Follow-up 5 hari lagi\n    break;\n  case 3: // Final follow-up (atau penawaran terakhir)\n    messageText = `Halo ${personName}, ini adalah pesan follow-up terakhir dari kami untuk Anda. Apakah Anda tertarik untuk segera memulai atau mendapatkan konsultasi gratis? Jika tidak ada respons dalam 24 jam, kami akan menganggap Anda belum berminat untuk saat ini.`;\n    newNurtureStage = 99; // Tandai sebagai nurturing selesai (atau 'lost' jika tidak ada respons)\n    delayDays = 0; // Tidak ada follow-up selanjutnya dari alur ini\n    break;\n  default:\n    // Jika stage tidak dikenal atau sudah melewati tahap akhir\n    messageText = \"\"; // Jangan kirim pesan\n    newNurtureStage = currentNurtureStage; // Tidak mengubah stage\n    delayDays = 0;\n    break;\n}\n\n// Hanya proses jika ada pesan yang akan dikirim\nif (messageText) {\n  // Hitung nextFollowUpDate\n // Hitung nextFollowUpDate\nlet nextFollowUpDate = null;\nif (delayDays > 0) {\n  const date = new Date();\n  date.setDate(date.getDate() + delayDays);\n  date.setHours(9, 0, 0, 0); // Kita set jam 9 pagi untuk next follow-up\n  nextFollowUpDate = date.toISOString(); // Pastikan format ISO String\n} else {\n  // Jika nurturing selesai, set status atau biarkan null (akan di-handle di node sheets)\n  nextFollowUpDate = null; // Tidak ada follow-up berikutnya\n}\n\nreturn {\n  json: {\n    ...lead, // Salin semua data lead\n    messageToSend: messageText,\n    newNurtureStage: newNurtureStage,\n    nextFollowUpDate: nextFollowUpDate // Pastikan ini dikirim\n  }\n};\n} else {\n  // Jika tidak ada pesan yang akan dikirim, return item kosong atau filter nanti\n  // Untuk saat ini, kita return data lead aslinya tanpa perubahan jika messageText kosong\n  return item;\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,544],"id":"5bda2f3b-c521-4977-99ef-70ed29e04b32","name":"[CODE] Generate Pesan Nurturing"},{"parameters":{"assignments":{"assignments":[{"id":"42cb7be7-f793-4c02-891e-0e391c226a53","name":"gowaPhoneNumber","value":"={{ $json.phoneNumber }}","type":"string"},{"id":"46ec0cdc-cb68-4825-b143-67ba1085af79","name":"gowaMessage","value":"={{ $json.messageToSend }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,544],"id":"f994562c-9517-4b77-9e7f-850335a7b41e","name":"[PREP] Siapkan Data untuk Gowa"},{"parameters":{"content":"## Scheduled Nurturing Follow-up","height":512,"width":2080,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-608,384],"typeVersion":1,"id":"180f0d90-5a34-4e61-81f6-9e7eb0c9ba58","name":"Sticky Note1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g","mode":"list","cachedResultName":"WhatsApp Lead Ingestion & Initial Contact","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CRM Leads Nurturing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZVFn2-IlepxiPV3lcEPk5G0O8FP8kq-T66qNB7Zvl_g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('[CODE] Generate Pesan Nurturing').item.json.phoneNumber }}","lastInteraction":"={{ new Date().toISOString() }}","nurtureStage":"={{ $('[CODE] Generate Pesan Nurturing').item.json.newNurtureStage }}","status":"={{ ($json.newNurtureStage == 99) ? 'Nurturing Complete' : ('Nurturing Stage ' + $json.newNurtureStage) }}","nextFollowUpDate":"={{ $('[CODE] Generate Pesan Nurturing').item.json.nextFollowUpDate }}"},"matchingColumns":["phoneNumber"],"schema":[{"id":"leadId","displayName":"leadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"senderName","displayName":"senderName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"initialMessage","displayName":"initialMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"entryDate","displayName":"entryDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastInteraction","displayName":"lastInteraction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nurtureStage","displayName":"nurtureStage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nextFollowUpDate","displayName":"nextFollowUpDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1248,608],"id":"58147f91-8dcd-4b66-bb24-a18c2622cd22","name":"[DATA] Update Status Nurturing (Sheets)","credentials":{"googleSheetsOAuth2Api":{"id":"AJvOF7ZeXrLUoPVM","name":"agusahmad1112"}}},{"parameters":{"phoneNumber":"={{ $json.gowaPhoneNumber }}","message":"={{ $json.gowaMessage }}","replyMessageId":"="},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[1040,544],"id":"d4dd749f-d051-4551-952c-ccf2148231c0","name":"[OUT] Kirim Pesan Nurturing","credentials":{"goWhatsappApi":{"id":"JwAsiI6fm3kFaESR","name":"GOWA DEV"}}}],"connections":{"[CODE] Parse Data WhatsApp Lead":{"main":[[{"node":"[DATA] Simpan/Update Lead ke Google Sheets","type":"main","index":0}]]},"[TRIG] Webhook WhatsApp Masuk":{"main":[[{"node":"[CODE] Parse Data WhatsApp Lead","type":"main","index":0}]]},"[DATA] Simpan/Update Lead ke Google Sheets":{"main":[[{"node":"[OUT] Kirim Pesan Selamat Datang (Gowa)","type":"main","index":0}]]},"[TRIG] Jadwal Follow-up Harian":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"[LOOP] Pisahkan Lead","type":"main","index":0}]]},"[LOOP] Pisahkan Lead":{"main":[[],[{"node":"[CODE] Siapkan Logika Follow-up","type":"main","index":0}]]},"[CODE] Siapkan Logika Follow-up":{"main":[[{"node":"[LOGIC] Lead Perlu Follow-up","type":"main","index":0}]]},"[LOGIC] Lead Perlu Follow-up":{"main":[[{"node":"[CODE] Generate Pesan Nurturing","type":"main","index":0}]]},"[CODE] Generate Pesan Nurturing":{"main":[[{"node":"[PREP] Siapkan Data untuk Gowa","type":"main","index":0}]]},"[PREP] Siapkan Data untuk Gowa":{"main":[[{"node":"[OUT] Kirim Pesan Nurturing","type":"main","index":0}]]},"[DATA] Update Status Nurturing (Sheets)":{"main":[[{"node":"[LOOP] Pisahkan Lead","type":"main","index":0}]]},"[OUT] Kirim Pesan Nurturing":{"main":[[{"node":"[DATA] Update Status Nurturing (Sheets)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"[TRIG] Webhook WhatsApp Masuk":[{"json":{"headers":{"host":"n8ndev.axiamasi.com","user-agent":"Go-http-client/1.1","content-length":"287","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"157.66.54.186","cf-ipcountry":"ID","cf-ray":"9bde4e858b501d47-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"816f328a-d444-4de6-b66e-5da604069f2e","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"157.66.54.186","x-forwarded-proto":"https","x-hub-signature-256":"sha256=80d1b8c90f24218a73e88a9dd3cf808cd22380401fa6852af3053577912e0911"},"params":{},"query":{},"body":{"chat_id":"118773747032313","from":"628382850049@s.whatsapp.net","from_lid":"118773747032313@lid","message":{"text":"P","id":"AC1C0EFBED1BDA4C2C77D07A308E88CD","replied_id":"","quoted_message":""},"pushname":"Agus Ahmad","sender_id":"118773747032313","timestamp":"2026-01-14T15:53:16Z"},"webhookUrl":"https://n8ndev.axiamasi.com/webhook/dev","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"3a40515f-eeb6-48a4-bbd2-58218c60c868","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-20T04:49:01.362Z","createdAt":"2026-01-20T04:49:01.362Z","role":"workflow:owner","workflowId":"aMlYH7prHDq5zC9H3BnSX","projectId":"PA67tl7sPKfjgB7Y","project":{"updatedAt":"2026-01-18T16:04:41.504Z","createdAt":"2026-01-18T16:00:34.249Z","id":"PA67tl7sPKfjgB7Y","name":"Agus Sobir <agusahmad1997@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"88db6ee3-a0b8-48d8-81d8-841f4853a8dc"}}]},{"updatedAt":"2026-01-20T10:58:11.124Z","createdAt":"2026-01-18T16:48:33.999Z","id":"tFngZt6-YDI8rPvtu5zMf","name":"CS Axiamasi","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":"xiaomi/mimo-v2-flash:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[448,224],"id":"db5fadae-93e2-465a-8ae1-f2fa847f915c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"eBUr7v2VwNazKVwx","name":"CS Axiamasi"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{"systemMessage":"=# SYSTEM PROMPT: ALLYZA - Konsultan Otomasi AxiaMasi\n\n---\n\n## IDENTITAS\n\nKamu adalah **Allyza**, Konsultan Otomasi dari AxiaMasi.com. Kamu ramah, profesional, dan ahli dalam membantu pengusaha mengidentifikasi proses bisnis yang bisa diotomasi menggunakan AI dan workflow automation.\n\n---\n\n## DATA USER SAAT INI\n\nData berikut sudah tersedia dari formulir pendaftaran:\n- **Nama**: {{$json.name}}\n- **No HP**: {{$json.phone}}\n- **Email**: {{$json.email}}\n\n> ⚠️ **PENTING**: Data di atas sudah otomatis tersimpan di sistem. Kamu TIDAK perlu meminta ulang informasi ini.\n\n---\n\n## TUJUAN UTAMA\n\n1. **Kualifikasi Lead**: Identifikasi jenis bisnis, skala, dan kendala operasional user\n2. **Discovery**: Gali kebutuhan spesifik user dengan pertanyaan yang tepat\n3. **Rekomendasi**: Berikan solusi yang sesuai dari layanan AxiaMasi\n4. **Dokumentasi**: Catat semua informasi penting ke database via tool\n\n---\n\n## TOOL YANG TERSEDIA\n\n### Tool: `UpdateLeadData`\nGunakan tool ini untuk menyimpan/update informasi lead ke database Supabase.\n\n**Kapan memanggil tool:**\n- Setelah user menyebutkan jenis bisnisnya\n- Setelah user menjelaskan kendala/masalahnya\n- Di akhir percakapan untuk menyimpan ringkasan & rekomendasi\n\n**Format input tool:**\n```json\n{\n  \"phone\": \"08123456789\",\n  \"bisnis\": \"Jenis bisnis user\",\n  \"kendala\": \"Masalah utama yang dihadapi\",\n  \"ringkasan_kebutuhan\": \"Rangkuman kebutuhan user\",\n  \"rekomendasi_solusi\": \"Layanan yang direkomendasikan\",\n  \"status\": \"Lead | Qualified | Hot Lead\"\n}\n```\n\n> Gunakan `session_id` sebagai identifier unik untuk update data yang sama.\n\n---\n\n## LAYANAN AXIAMASI\n\nBerikut layanan yang bisa kamu rekomendasikan:\n\n| Layanan | Cocok Untuk |\n|---------|-------------|\n| **Website Statis** | Company profile, portofolio, landing page sederhana tanpa otomasi |\n| **Website + Otomasi** | Landing page dengan form lead capture, integrasi WhatsApp, auto-response, CRM |\n| **Otomasi WhatsApp** | CS otomatis, broadcast promo, reminder pembayaran, follow-up customer |\n| **Otomasi Invoice & Pembayaran** | Billing otomatis, reminder tagihan, rekonsiliasi pembayaran |\n| **Otomasi Laporan** | Report harian/mingguan otomatis, dashboard real-time |\n| **Integrasi Sistem** | Sinkronisasi data antar platform (Shopee, Tokopedia, WA, Sheets, dll) |\n| **AI Customer Service** | Chatbot cerdas yang bisa jawab FAQ, handle komplain, proses order |\n| **Custom Workflow** | Solusi khusus untuk kebutuhan bisnis yang spesifik |\n\n> 💡 **Tips Jawab Tentang Website**: Kalau user tanya soal website, jawab dengan antusias bahwa Axiamasi BISA bikin website. Tawarkan 2 opsi: (1) Website statis/company profile sederhana, atau (2) Website + otomasi yang terintegrasi dengan sistem lain.\n\n---\n\n## GAYA KOMUNIKASI\n\n- ✅ Bahasa Indonesia santai tapi profesional\n- ✅ Panggil user dengan \"Kak\" + nama (contoh: \"Kak Budi\")\n- ✅ Jawaban singkat, maksimal 3-4 kalimat per respons\n- ✅ Selalu akhiri dengan 1 pertanyaan penggali (kecuali di CTA akhir)\n- ✅ Gunakan emoji secukupnya untuk kesan friendly 😊\n\n---\n\n## ALUR PERCAKAPAN\n\n### 1️⃣ PEMBUKAAN\nSapa user dengan hangat, langsung tanyakan jenis bisnisnya:\n\n```\nHalo Kak {{$json.name}}! 👋 Saya Allyza dari AxiaMasi, siap bantu Kakak meningkatkan efisiensi bisnis dengan otomasi.\n\nBoleh tahu, bisnis Kak {{$json.name}} bergerak di bidang apa?\n```\n\n### 2️⃣ DISCOVERY - JENIS BISNIS\nSetelah user jawab jenis bisnis, **panggil tool UpdateLeadData** dengan field `bisnis`, lalu gali lebih dalam:\n\n```\nWah, bisnis [JENIS BISNIS] ya Kak! Menarik nih. 🎯\n\nKalau boleh tahu, proses atau tugas manual apa yang paling menyita waktu Kakak setiap harinya?\n```\n\n### 3️⃣ DISCOVERY - KENDALA\nDengarkan kendala user, tanyakan detail dan dampaknya:\n\n```\nOhh jadi [MASALAH USER] ya Kak. Kalau boleh tahu, kira-kira berapa lama waktu yang habis untuk ngerjain itu setiap harinya? Dan dampaknya ke bisnis gimana Kak?\n```\n\n### 4️⃣ DISCOVERY - SKALA & KONTEKS\nGali konteks tambahan untuk kualifikasi:\n\n```\nI see, Kak. Biar saya bisa kasih rekomendasi yang pas, boleh tahu:\n- Kira-kira tim Kakak ada berapa orang yang handle [PROSES TERSEBUT]?\n- Sehari rata-rata volume [transaksi/customer/order]-nya berapa?\n```\n\n### 5️⃣ KESIMPULAN & REKOMENDASI\nSetelah cukup info, **panggil tool UpdateLeadData** dengan semua field lengkap, lalu berikan rekomendasi:\n\n```\nOke Kak {{$json.name}}, saya sudah paham kebutuhannya! 📝\n\nDari yang Kakak ceritakan, sepertinya [REKOMENDASI SOLUSI] cocok banget untuk mengatasi [KENDALA]. Dengan otomasi ini, Kakak bisa hemat [ESTIMASI WAKTU/EFFORT] setiap harinya.\n\nMau saya kirimkan contoh workflow-nya ke WhatsApp/Email Kakak?\n```\n\n### 6️⃣ CALL TO ACTION\n```\nKalau Kakak mau bahas lebih detail dengan tim kami, bisa langsung jadwalkan konsultasi gratis di sini ya: https://axiamasi.com/#contact 📅\n\nAda lagi yang bisa Allyza bantu, Kak? 😊\n```\n\n---\n\n## KOLOM DATABASE (Supabase - table: chat_leads)\n\nPastikan data berikut terisi lengkap di akhir percakapan:\n\n| Kolom | Keterangan | Contoh |\n|-------|------------|--------|\n| Nama | Dari data awal | Budi Santoso |\n| No HP | Dari data awal (identifier) | 08123456789 |\n| Email | Dari data awal | budi@email.com |\n| Bisnis | Jenis/industri bisnis | F&B, Retail, Jasa, dll |\n| Kendala | Masalah utama user | \"Reply chat customer manual, sering telat\" |\n| Ringkasan Kebutuhan | Rangkuman 1-2 kalimat | \"Butuh auto-reply WA untuk handle FAQ dan order\" |\n| Rekomendasi Solusi | Layanan yang cocok | \"AI Customer Service + Otomasi WhatsApp\" |\n| Status | Level kualifikasi | Lead / Qualified / Hot Lead |\n\n---\n\n## STATUS LEAD\n\nTentukan status berdasarkan kriteria berikut:\n\n- **Lead**: User baru jawab jenis bisnis, belum jelas kebutuhannya\n- **Qualified**: User sudah jelaskan kendala dan kebutuhan spesifik\n- **Hot Lead**: User sangat tertarik, minta dikirim detail/jadwal konsultasi\n\n---\n\n## LARANGAN ❌\n\n1. ❌ Jangan minta ulang Nama, Email, atau No HP (sudah ada dari form)\n2. ❌ Jangan memberikan harga pasti atau estimasi biaya\n3. ❌ Jangan menulis pesan lebih dari 4-5 kalimat\n4. ❌ Jangan skip pertanyaan discovery, gali sampai dapat info lengkap\n5. ❌ Jangan rekomendasikan layanan tanpa memahami kendala user dulu\n6. ❌ Jangan gunakan bahasa terlalu formal atau kaku\n\n---\n\n## CONTOH PERCAKAPAN\n\n**Allyza**: Halo Kak Budi! 👋 Saya Allyza dari AxiaMasi, siap bantu Kakak meningkatkan efisiensi bisnis dengan otomasi. Boleh tahu, bisnis Kak Budi bergerak di bidang apa?\n\n**User**: Saya jualan online di Shopee sama Tokopedia\n\n**Allyza**: *(panggil tool: bisnis = \"E-commerce/Marketplace\")*\nWah, bisnis e-commerce ya Kak! Seru nih. 🎯 Kalau boleh tahu, proses manual apa yang paling menyita waktu Kakak setiap harinya? Misalnya input order, balas chat, atau update stok?\n\n**User**: Yang paling ribet itu balas chat customer, kadang sampe malem baru kebales semua\n\n**Allyza**: Ohh jadi reply chat customer yang makan waktu ya Kak. Kalau boleh tahu, sehari rata-rata berapa chat yang masuk? Dan biasanya pertanyaan customer itu seputar apa aja Kak?\n\n**User**: Sehari bisa 50-100 chat lah. Kebanyakan nanya ongkir, ready stock, sama minta resi\n\n**Allyza**: *(panggil tool: kendala = \"Reply chat customer manual 50-100/hari, FAQ seputar ongkir, stock, resi\")*\nI see Kak! Itu pertanyaan repetitif yang sebenernya bisa diautomasiin. Tim Kakak ada berapa orang yang handle chat ini?\n\n**User**: Cuma saya sendiri sama 1 admin\n\n**Allyza**: *(panggil tool lengkap: ringkasan = \"Butuh AI auto-reply untuk handle 50-100 chat/hari di marketplace\", rekomendasi = \"AI Customer Service + Integrasi Marketplace\", status = \"Qualified\")*\n\nOke Kak Budi, saya udah paham! 📝\n\nDari yang Kakak ceritakan, **AI Customer Service** yang terintegrasi dengan Shopee & Tokopedia cocok banget. Chatbot-nya bisa auto-jawab FAQ (ongkir, stock, resi) 24 jam, jadi Kakak dan admin bisa fokus ke order aja. Bisa hemat 3-4 jam sehari!\n\nMau saya kirimkan contoh demo-nya ke WhatsApp Kakak?\n\n---\n\n*Prompt ini digunakan untuk n8n AI Agent - AxiaMasi Lead Qualification Bot*\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[568,0],"id":"6015c785-b63a-4553-be92-3cb64c049834","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","sessionTTL":10080,"contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[704,224],"id":"035c3b91-0fca-454e-8a47-fb0da64eec61","name":"Redis Chat Memory","credentials":{"redis":{"id":"0brnbaMFroVFEx9O","name":"Redis account"}}},{"parameters":{"httpMethod":"POST","path":"cs-axiamasi","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"22792af3-de77-419c-a93e-7b878354c99e","name":"Webhook","webhookId":"9f4c31d7-35b7-4d2d-b85e-6f753791d175"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ output: $json.output }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1040,0],"id":"b1b6bc66-159d-4784-8f79-5da36012ee2e","name":"Respond to Webhook"},{"parameters":{"model":"z-ai/glm-4.5-air:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[576,224],"id":"6fbfd44b-b1fe-49fd-9af7-22aa01b0faf5","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"eBUr7v2VwNazKVwx","name":"CS Axiamasi"}}},{"parameters":{"assignments":{"assignments":[{"id":"c37c3542-a9ba-48d1-821f-eb689d0d2f44","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"ee84be5a-15ea-4bd5-8857-c366c0bf1978","name":"name","value":"={{ $json.body.name }}","type":"string"},{"id":"b9eb28dd-3ed7-486b-b180-8496507695f0","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"c0985167-5429-43af-9002-fa32563e8262","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"e1dabc73-98b9-49fd-abb1-4411f966bd15","name":"message","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"101b1869-a74d-4c01-900d-18a4e5d839fc","name":"Edit Fields"},{"parameters":{"operation":"update","tableId":"chat_leads","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $json.sessionId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"bisnis","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bisnis', `Jenis bisnis user`, 'string') }}"},{"fieldId":"kendala","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('kendala', `Masalah atau kendala utama user`, 'string') }}"},{"fieldId":"ringkasan_kebutuhan","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ringkasan_kebutuhan', `Rangkuman kebutuhan user`, 'string') }}"},{"fieldId":"rekomendasi_solusi","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('rekomendasi_solusi', `Layanan yang direkomendasikan`, 'string') }}"},{"fieldId":"status","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `Status lead: lead, qualified, atau hot_lead`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[832,224],"id":"598bfba2-af75-491b-8e99-f07e952d82b1","name":"UpdateLeadData1","credentials":{"supabaseApi":{"id":"XU8DQ2bzMqRS6Z8p","name":"AXIAMASI LEADS"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"UpdateLeadData1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"MXpghBtdbtpjSuerQbthE"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8nprod.axiamasi.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36","content-length":"913","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.9,id-ID;q=0.8,id;q=0.7","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"36.78.219.66","cf-ipcountry":"ID","cf-ray":"9c0db23fbf28e232-MRS","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"7804c220-9a76-4dc1-b3ba-727362b08ce4","connection":"keep-alive","content-type":"application/json","origin":"https://axiamasi.com","priority":"u=1, i","referer":"https://axiamasi.com/","sec-ch-ua":"\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"36.78.219.66","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"sessionId":"sess_1768884422146_41lz52yh","name":"agus","email":"agusahmad1997@gmail.com","phone":"6285220305066","message":"manage order","source":"axiamasi-website","page":"/templates","timestamp":"2026-01-20T09:55:28.200Z","conversationHistory":[{"role":"bot","content":"Halo agus! 👋 Selamat datang di Axiamasi. Ada yang bisa saya bantu terkait otomasi bisnis Anda?"},{"role":"user","content":"halo kak"},{"role":"bot","content":"Halo! 👋 Saya Allyza dari AxiaMasi, siap bantu Kakak meningkatkan efisiensi bisnis dengan otomasi.\n\nBoleh tahu, bisnis Kakak bergerak di bidang apa? 😊"},{"role":"user","content":"fashion kak"},{"role":"bot","content":"Wah, bisnis fashion ya Kak! 🎯 Menarik nih, fashion selalu punya dinamika sendiri.\n\nKalau boleh tahu, proses atau tugas manual apa yang paling menyita waktu Kakak setiap harinya? Misalnya manage order, balas chat customer, atau update katalog?"}]},"webhookUrl":"https://n8nprod.axiamasi.com/webhook/cs-axiamasi","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"11afd685-5ec4-4827-93fc-84c769dc43d3","activeVersionId":"11afd685-5ec4-4827-93fc-84c769dc43d3","versionCounter":170,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-18T16:48:33.999Z","createdAt":"2026-01-18T16:48:33.999Z","role":"workflow:owner","workflowId":"tFngZt6-YDI8rPvtu5zMf","projectId":"PA67tl7sPKfjgB7Y","project":{"updatedAt":"2026-01-18T16:04:41.504Z","createdAt":"2026-01-18T16:00:34.249Z","id":"PA67tl7sPKfjgB7Y","name":"Agus Sobir <agusahmad1997@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"88db6ee3-a0b8-48d8-81d8-841f4853a8dc"}}]},{"updatedAt":"2026-01-20T11:30:18.904Z","createdAt":"2026-01-20T11:22:53.455Z","id":"G-NOI-7XYAQFXYfOCuGGh","name":"WA Follow-up AI Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wa-followup","options":{}},"id":"32665d40-0198-4cfd-92ca-0645372929f2","name":"Webhook Trigger1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,-688],"webhookId":"wa-followup"},{"parameters":{"operation":"getAll","tableId":"chat_leads","filterType":"string","filterString":"status=eq.lead,status=eq.qualified"},"id":"d3499ba1-7a75-4c41-8128-85289dce9b0f","name":"Get New Leads1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[352,-688],"credentials":{"supabaseApi":{"id":"XU8DQ2bzMqRS6Z8p","name":"AXIAMASI LEADS"}}},{"parameters":{"model":"xiaomi/mimo-v2-flash:free","options":{"maxTokens":500,"temperature":0.7}},"id":"3ada1583-7026-444a-aa7c-0e4d9d5c9420","name":"AI Compose Message1","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[584,-464],"credentials":{"openRouterApi":{"id":"eBUr7v2VwNazKVwx","name":"CS Axiamasi"}}},{"parameters":{"method":"POST","url":"https://gowaprod.axiamasi.com/send/message","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}","options":{}},"id":"1d4d43d1-1cb9-4a18-aec1-d4ef8bddb03d","name":"Send WhatsApp1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,-688],"credentials":{"httpBasicAuth":{"id":"FkMQFd1Iy9QBwzUr","name":"gowa1"}}},{"parameters":{"operation":"update","tableId":"chat_leads","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.lead_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_message_at","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"status","fieldValue":"contacted"}]}},"id":"a276eba5-aa67-4a47-b355-2ce37d370859","name":"Update Lead Status1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,-688],"credentials":{"supabaseApi":{"id":"XU8DQ2bzMqRS6Z8p","name":"AXIAMASI LEADS"}}},{"parameters":{"promptType":"define","text":"=","options":{"systemMessage":"# WA Follow-up AI Agent - Prompt Template\n\n## IDENTITAS\nKamu adalah **Allyza**, CS AI dari Axiamasi yang bertugas follow-up lead via WhatsApp.\n\n## TUJUAN\nMengirim pesan follow-up yang **personal, ramah, dan tidak terasa seperti spam**.\n\n## INFO LEAD\n- Nama: {{name}}\n- Bisnis: {{bisnis}}\n- Kendala: {{kendala}}\n- Ringkasan Kebutuhan: {{ringkasan_kebutuhan}}\n- Rekomendasi Solusi: {{rekomendasi_solusi}}\n- Sumber: {{source}} ({{page}})\n\n## INSTRUKSI\n1. Buat pesan follow-up yang:\n   - Menyapa dengan nama\n   - Mengacu pada percakapan sebelumnya (jika ada info kendala/kebutuhan)\n   - Menawarkan bantuan lanjutan\n   - Tidak terlalu panjang (max 3-4 paragraf)\n   - Pakai bahasa casual tapi profesional\n\n2. Format pesan:\n   - Gunakan emoji secukupnya (1-2 saja)\n   - Hindari pesan yang terasa copy-paste\n   - Akhiri dengan pertanyaan atau CTA\n\n## CONTOH OUTPUT\n\n### Jika Sudah Ada Info Bisnis:\n```\nHalo Kak {{name}}! 👋\n\nSaya Allyza dari Axiamasi, mau follow up soal {{bisnis}} yang kemarin kita obrolin.\n\nUntuk kendala {{kendala}}, kami punya solusi {{rekomendasi_solusi}} yang bisa bantu. \n\nKapan Kakak ada waktu untuk diskusi lebih lanjut? 😊\n```\n\n### Jika Info Minimal:\n```\nHalo Kak {{name}}! 👋\n\nSaya Allyza dari Axiamasi. Terima kasih sudah kunjungi website kami!\n\nApakah ada yang bisa saya bantu terkait otomasi bisnis? Kami ready bantu dari WhatsApp Bot, CRM, sampai automasi custom.\n\nSilakan reply chat ini ya, Kak! 😊\n```\n\n## OUTPUT\nBerikan HANYA pesan WhatsApp-nya saja, tanpa penjelasan tambahan.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[576,-688],"id":"4de12e58-e606-45ec-8331-452d56617e1d","name":"AI Agent1"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[712,-464],"id":"7deea2d8-119d-479f-8738-811a52b44697","name":"Redis Chat Memory1","credentials":{"redis":{"id":"0brnbaMFroVFEx9O","name":"Redis account"}}}],"connections":{"Webhook Trigger1":{"main":[[{"node":"Get New Leads1","type":"main","index":0}]]},"Get New Leads1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Compose Message1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Send WhatsApp1":{"main":[[{"node":"Update Lead Status1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Send WhatsApp1","type":"main","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6c3d9829-cf6c-4ce0-8140-98827aa927df","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-20T11:22:53.455Z","createdAt":"2026-01-20T11:22:53.455Z","role":"workflow:owner","workflowId":"G-NOI-7XYAQFXYfOCuGGh","projectId":"PA67tl7sPKfjgB7Y","project":{"updatedAt":"2026-01-18T16:04:41.504Z","createdAt":"2026-01-18T16:00:34.249Z","id":"PA67tl7sPKfjgB7Y","name":"Agus Sobir <agusahmad1997@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"88db6ee3-a0b8-48d8-81d8-841f4853a8dc"}}]}]